.galleryBox{padding:50px 0; display:block; background:#fff;}
.galleryTabBox{margin-bottom:40px;overflow:auto; display:flex;display:-webkit-flex;align-items:center;justify-content: center;}
.galleryTab{padding:0 20px;font-size:14px;border-radius:8px; transition: .3s; height:36px; border:1px solid #333; background:#fff;display:flex;display:-webkit-flex;align-items:center;cursor: pointer;}
.galleryTab ~ .galleryTab{margin-left:15px;}
.galleryTab.active{background:#333;color:#fff;}
.galleryGrid{display:grid;grid-template-columns: repeat(3, 1fr);grid-gap:30px;}
.galleryItem{border-radius: 8px;box-shadow: 0 3px 11px 0 rgba(0, 0, 0, 0.11);display:flex;display:-webkit-flex; border: solid 1px #e3e3e3;overflow: hidden; background:#fff;}
.galleryItemImg{margin-right:15px; height:100%; width:120px;flex:none;}
.galleryItemImg .imgFluid{width:100%; height:100%;object-fit:cover;}
.galleryItemBody{padding:10px; width: calc(100% - 135px);}
.galleryItemHeading{font-size:16px; font-weight:600;color: #333;}
.galleryItemPriceBox{display:flex;display:-webkit-flex;align-items:center;justify-content: space-between;}

@media screen and (max-width:540px){
.galleryTabBox{padding:0 15px 0 15px; margin:0 -15px 30px -15px; justify-content: flex-start;}
.galleryGrid{grid-template-columns: repeat(1, 1fr);grid-gap:15px;}

}




