*,::before,::after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
body{overflow:hidden;overflow-y:auto}
body,ul,ol,li,h1,h2,h3,h4,h5,h6,figure,p,strong{padding:0;margin:0;list-style:none;font-family:Arial,"sans-serif"}
body,p{font-size:14px;line-height:26px;color:#666}
h1,h2,h3,h4,h5,h6{font-weight:600}
a,.btn,button,input,select,textarea{text-decoration:none;outline:none}
.btn{border:1px solid #eee;}
select{cursor:pointer}
small{font-size:100%}
.container{padding:0 15px;margin:0 auto;width:1170px}
.row{margin:0 -15px}
.container::before,.container::after,.row::before,.row::after{display:table;content:"";clear:both}
.flexRowBox{margin:0 -15px; display: flex;display:-webkit-flex;flex-wrap:wrap;}
.cl6{padding:0 15px; width:50%;}
.cl4{padding:0 15px; width:33.333333%;}
.img-responsive{max-width:100%;height:auto;max-height:100%}
.form-group{margin-bottom: 15px;}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance: textfield;}
.form-control{padding:6px 12px;display:block;width:100%;height:40px;font-size:13px;color:#333;background:#fff;border-radius:8px;border:1px solid #ccc;box-shadow:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
textarea{height:auto !important;}
.btn{padding:10px 20px;display:inline-flex;display:-webkit-inline-flex;align-items:center; justify-content: center;cursor:pointer;border:none;font-size:16px;line-height:1.42857143;border-radius:8px;background: transparent;position:relative; z-index:0; transition: .3s;overflow: hidden; height:50px;min-width:150px;}
.btn:hover{box-shadow:0 2px 4px rgba(4,6,6,.15);transition: .3s;}
.btn ~ .btn{margin-left: 12px;}
.btn span{position: relative;z-index:1;}
.btn::before{content: ""; background:linear-gradient(45deg,#cf11da,#3482fd);position: absolute; top: 0;left: -25%;height: 104%;width: 0; transform: skew(-22deg); z-index: 1;transition: .3s}
.btn:hover:before{width: 200%;transition: .3s;}
.btn-primary{background:linear-gradient(-45deg,#cf11da,#3482fd);color: #fff;}
.btn-secondary{background:#fff;}
.btn-secondary span{background:linear-gradient(-45deg,#cf11da,#3482fd);-webkit-background-clip:text;color:transparent}
.btn-secondary:hover span{color:#fff}
.headingBox{padding:0 15px; margin-bottom:30px; text-align:center;}
.headingBox em{font-size:36px;background:linear-gradient(-45deg,#cf11da,#3482fd);-webkit-background-clip:text;color:transparent}
.headingBox h2{margin-top: 5px; font-size:28px;color:#323232;font-weight:600;text-transform:capitalize;line-height:36px;}
.headingBox .separator{position:relative;width:160px;display:inline-block}
.headingBox .separator:after,.headingBox .separator:before{content:"";position:absolute;top:50%;margin-top:-1px;height:2px;width:50px;background-color:#7b6cd5}
.headingBox .separator:before,.headingBox .separator:after{background:linear-gradient(-45deg,#cf11da,#3482fd)}
.headingBox .separator:after{right:3px}
.headingBox .separator:before{left:3px}

@media screen and (max-width:1170px){
.container{width:100%;}
}

@media screen and (max-width:540px){
.cl4,.cl6{width:100%;}
.btn{min-width:auto;}
.headingBox h2{font-size: 22px;}
}