@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?wyot2y');
  src:  url('../fonts/icomoon.eot?wyot2y#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?wyot2y') format('truetype'),
    url('../fonts/icomoon.woff?wyot2y') format('woff'),
    url('../fonts/icomoon.svg?wyot2y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up:before {
  content: "\e900";
}
.icon-youtube:before {
  content: "\e901";
}
.icon-linkedin-in:before {
  content: "\e902";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-facebook-f:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-envelope:before {
  content: "\e906";
}
.icon-angle-right:before {
  content: "\e907";
}
.icon-phone-alt:before {
  content: "\e908";
}
.icon-chakra:before {
  content: "\e909";
}
.icon-lotus:before {
  content: "\e90a";
}
.icon-pose1:before {
  content: "\e90b";
}
.icon-pose2:before {
  content: "\e90c";
}
.icon-pose3:before {
  content: "\e90d";
}
.icon-pose4:before {
  content: "\e90e";
}
.icon-pose5:before {
  content: "\e90f";
}
.icon-pose6:before {
  content: "\e910";
}
.icon-pose7:before {
  content: "\e911";
}
.icon-pose8:before {
  content: "\e912";
}
.icon-pose9:before {
  content: "\e913";
}
.icon-pose10:before {
  content: "\e914";
}
.icon-pose11:before {
  content: "\e915";
}
.icon-pose12:before {
  content: "\e916";
}
.icon-pose13:before {
  content: "\e917";
}
.icon-pose15:before {
  content: "\e918";
}
.icon-pose16:before {
  content: "\e919";
}
.icon-pose17:before {
  content: "\e91a";
}
.icon-pose18:before {
  content: "\e91b";
}
.icon-pose19:before {
  content: "\e91c";
}
.icon-pose20:before {
  content: "\e91d";
}
.icon-pose21:before {
  content: "\e91e";
}
.icon-pose22:before {
  content: "\e91f";
}
.icon-pose23:before {
  content: "\e920";
}
.icon-pose24:before {
  content: "\e921";
}
.icon-pose25:before {
  content: "\e922";
}
.icon-pose26:before {
  content: "\e923";
}
.icon-pose27:before {
  content: "\e924";
}
.icon-pose28:before {
  content: "\e925";
}
.icon-welcome:before {
  content: "\e926";
}
.icon-yoga-position:before {
  content: "\e927";
}
